
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter,sarif;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .head{
    width: 100%;
    background-color: #F1F1EF;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .head p{
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #979CA0;
}

header nav{
    width: 100%;
    height: 80px;
    margin: 0px 30px;
    display: flex;
    justify-content: space-between;
}

header nav .nav-first{
    display: flex;
    gap: 35px;
    align-items: center;
    margin-left: 40px;
}

header nav .nav-first .nav-link-1{
    list-style: none;
    display: flex;
    gap: 30px;
}

header nav .nav-first .nav-link-1 li a{
    color: grey;
    text-decoration: none;
    font-size: 14px;
    transition: all 1s ease;
}

header nav .nav-first .nav-link-1 li a:hover{
    color: black;
}

header nav .nav-second{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 40px;
}

header nav .nav-second .nav-link-2{
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav .nav-second .nav-link-2 li a{
    color: grey;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: all 1s ease;
}

header nav .nav-second .nav-link-2 li a:hover{
    color: black;
}

header nav .nav-second .nav-icon{
    display: flex;
    gap: 20px;
   
    
}

header nav .nav-second .nav-icon #cart-box{
    display: none;
}

header nav .nav-second .nav-icon a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

header nav .nav-second .nav-icon label{
    cursor: pointer;
}

header nav .nav-second .nav-icon .side-cart{
    display: none;
}

header nav .menu{
    display: flex;
    align-items: center;
   
    display: none;
}

header nav .menu input{
    display: none;
}


header nav .menu .side-nav-bar{
    display: none;
}

header nav .nav-second .nav-icon .side-cart{
    display: flex;
    width: 600px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.974);
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0%;
    right: -100%;
    z-index: 10;

    transition: all 0.75s ease;
}

header nav .nav-second .nav-icon .side-cart .cart-one{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.852);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .nav-second .nav-icon .side-cart .cart-one h3{
    color: grey;
    
}

header nav .nav-second .nav-icon .side-cart .cart-one label{
    margin: 15px;
    
}

header nav .nav-second .nav-icon .side-cart .cart-two{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .nav-second .nav-icon .side-cart .cart-two p{
    color: grey;
}

header nav .nav-second .nav-icon .side-cart .cart-three{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}



header nav .nav-second .nav-icon .side-cart .cart-three button{
    padding: 20px 20px;
    width: 85%;
    background-color: rgb(217, 145, 10);
    border: none;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

header nav .nav-second .nav-icon .side-cart .cart-three button:hover{
    background-color: black;
}

#cart-box:checked ~ .side-cart{
    right: 0px;
}




@media screen and (max-width:600px){
    header nav{
        margin: 0px;

        justify-content: space-between;
        align-items: center;
    }
    header nav .menu{
        display: flex;
        margin: 0px 10px;
    }

    header nav .nav-first{
        margin: 0px 10px;
    }

    header nav .nav-second{
        margin: 0px 10px;
    }
    header nav .nav-first .nav-link-1{
        display: none;
    }

    header nav .nav-second .nav-link-2{
        display: none;
    }

    header nav .menu .side-nav-bar{
        width: 320px;
        height: 737px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0%;
        left: -100%;
        z-index: 10;
        transition: all 0.75s ease;

    }

    header nav .menu .side-nav-bar .side-link{
        margin: 10px;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 34px;
        
    }

    header nav .menu .side-nav-bar .side-link label{
        align-self: end;
    }

    header nav .menu .side-nav-bar .side-link li{
        width: 100%;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }

    header nav .menu .side-nav-bar .side-link li:hover{
        background-color: red;
    }

    header nav .menu .side-nav-bar .side-link li a{
        text-decoration: none;
        color: black;
    }

     #sidebar:checked ~.side-nav-bar{
        left: 0;
    } 


    header nav .nav-second .nav-icon .side-cart{
        width: 100%;
    }

}  

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 20px 40px 10px 40px;
    background-color: #ffffff;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
      0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
      0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    font-family: "Inter", sans-serif;
  }
  
  .logo_container {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #F8F8F888 100%);
    border: 1px solid #F7F7F8;
    filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .logo_container img{
    width: 100%;
    height: 100%;
    border-radius: 11px;
    object-fit: cover;
    object-position: center;
    
  }
  
  .title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #212121;
  }
  
  .subtitle {
    font-size: 0.725rem;
    max-width: 80%;
    text-align: center;
    line-height: 1.1rem;
    color: #8B8E98
  }
  
  .input_container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .icon {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 9px;
  }
  
  .input_label {
    font-size: 0.75rem;
    color: #8B8E98;
    font-weight: 600;
  }
  
  .input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
  }
  
  .sign-in_btn {
    width: 100%;
    height: 40px;
    border: 0;
    background: #115DFC;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
  }
  
  .sign-in_ggl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #ffffff;
    border-radius: 7px;
    outline: none;
    color: #242424;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
  }
  
  .sign-in_apl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #212121;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
  }
  
  .separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #8B8E98;
  }
  
  .separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
  }
  
  .note {
    font-size: 0.75rem;
    color: #8B8E98;
    text-decoration: underline;
  }